numpy
pandas<3.0.4
matplotlib
cartopy
scikit-learn
pyarrow
xarray
netcdf4
torch
torchvision
pyyaml
zarr
numcodecs
einops
echo-opt
bridgescaler
segmentation-models-pytorch
haversine
pvlib
torch-harmonics<0.9
torch_geometric
fsspec
gcsfs
h5py<=3.14.0
h5netcdf
torchmetrics
s3fs
numba
fastapi
obstore
